html{
    background-color: #000000;
}
.TableroJuego {
    border-color : #39ff14;
    border-style : solid;
    width : 600px;
    height: 400px;
}
.pelota{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 11px;
    left: 383px;
    background-color: #f80000;
}
.raqueta {
    position: absolute;
    width: 20px;
    height: 80px;
    background-color: #FFFFFF;
}
.linea {
    border-left: 6px dashed #39ff14;
    height: 370px;
    top: 13px;
    left: 300px;
    position: relative;
    vertical-align: middle;
}
.info {
    width: 606px;
    height: 150px;
    padding: 3px;
    background-color: #000000;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color : #39ff14;
    border-style : solid;
}

.textoestatico {
    color: #FFFFFF;
    font-family : "Bebas Neue";
    font-size: 30px;
}